@model OnlineRecipes.Models.Recipe

@{
    ViewBag.Title = "Details";
}

  

    <div class="card">
        <h4>@Html.DisplayFor(model => model.Title)</h4>
        <hr />
        @if (!String.IsNullOrEmpty(Model.ImageUrl))
        {
            <img src="@Url.Content(Model.ImageUrl)"  />
        }

        <p>
            Description: @Html.DisplayFor(model => model.Description)
        </p>
        <p>
            Rating: @Html.DisplayFor(model => model.Rating) / 5
        </p>
    </div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
