@model OnlineRecipes.Models.Recipe

@{
    ViewBag.Title = "Details";
}



<div class="card">
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    
                      <div class="form-group">
                          @Html.LabelFor(m => m.Category)
                          @Html.DropDownListFor(m => m.Category, // 1. Store selected value in Model.State;
                                                              // when page is rendered after postback,
                                                              // take selected value from Model.State.

                                                // 2. Take list of values from Model.States
                                                Model.RecipeCategories,

                                                // 3. Text for the first 'default' option
                                                "- Please select a state -",

                                                //4. A class name to assign to <select> tag
                                                new { @class = "form-control" })
                      </div>



    
    <hr />
    @if (!String.IsNullOrEmpty(Model.ImageUrl))
    {
        <img src="@Url.Content(Model.ImageUrl)" />
    }

    <p>
        Description: @Html.DisplayFor(model => model.Description)
    </p>
    <p>
        Rating: @Html.DisplayFor(model => model.Rating) / 5
    </p>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
