@model IEnumerable<OnlineRecipes.Models.Recipe>


@{
    ViewBag.Title = "UserRecipe";
}

<h2>User Recipe</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="grid">
    @foreach (var item in Model)
    {
    <div class="card">
        <h3>
            Title: @Html.DisplayFor(modelItem => item.Title)
        </h3>

        @if (!String.IsNullOrEmpty(item.ImageUrl))
        {
            <img src="@Url.Content(item.ImageUrl)" class="recipe-image" />
        }

        <p>
            Rating: @Html.DisplayFor(modelItem => item.Rating) / 5
        </p>

        <table class="table">

            <tr>
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                </td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        </table>
    </div>


    }
</div>
